@charset "UTF-8";

/* ページ全体のスタイル
------------------------------------------ */

html {
  font-size: calc(10 * 100vw / 390); /* 390はSPデザインカンプの幅 */   
  /* 変換サイト・ツールなどで、 390pxの幅での10pxを変換して2.56vwなのでそれを当ててもよい */
  /* font-size: 2.564102vw; */
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
  margin: 0 auto; /* ページを中央揃えにするときに指定します */
}

@media (min-width:768px) {
   html {
        font-size: calc(10 * 100vw / 1200); /* 1200はPCカンプのコンテンツ幅 */
   }
}

@media (min-width: 1200px) {
   html {
        font-size: 62.5%;
   }
}

body {
  font-family: 'Noto Sans JP', sans-serif; /* フォントを指定します */
  font-weight: 700; /* フォントの太さを指定します */
  line-height: 1.75; /* 行間を指定します */
  color: #333; /* テキストの色を指定します */
  background-color: #fff; /* 背景色を指定します */
}

a {
  color: #333; /* リンクの色を指定します */
  text-decoration: none; /* リンクの下線を表示しないときに指定します */
}

a:hover {
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none; /* リスト先頭の記号を表示しないときに指定します */
}

/* 部品
------------------------------------------ */

/* コンテナ */
.container {
  padding: 0 1.6rem;
}

/* 強調 */
.en {
font-family: 'poppins', ExtraBold-Italic;
font-style: italic;
color: #F11F8D;
font-size: 2.5rem;
}

.number {
  font-family: 'poppins', ExtraBold-Italic;
  font-style: italic;
  color: #F11F8D;
  font-size: 3.5rem;
  }

  .section-title {
    font-size: 2.3rem;
    text-align: center;
  }
  


/* ヘッダー
------------------------------------------ */
#header {
  width: 100%;
  height: 7rem; /* ヘッダーの高さを指定します */
  position: fixed; /* 固定表示にするときに指定します */
  display: flex; /* 複数の要素を横並びにするときに指定します */
  justify-content: space-between; /* 要素を均等に配置するときに指定します */
  top: 0; /* 上からの位置を指定します */
  left: 0; /* 左からの位置を指定します */
  background-color: #fff; /* 背景色を指定します */
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1); /* 影を指定します */
}

/* ロゴ */
.header-logo {
  display: block; /* ブロック要素にするときに指定します *
  align-items: center; /* 要素を中央揃えにするときに指定します */
  justify-content: center; /* 要素を中央揃えにするときに指定します */
  padding-left:  1.6rem; /* 要素の内側の余白を指定します */
  font-size: 3.4rem; /* フォントサイズを指定します */
}

.header-logo img {
  height: 2rem;
  vertical-align: baseline;
}

/* ハンバーガーメニュー */
.hamburger-button {
  width: 7rem;
  height: 7rem;
  cursor: pointer;
  position: fixed;
  display: inline-block;
  top: 0;
  right: 0;
  background-color: #005BAC;
}

@media (max-width: 767px) {
  .hamburger-menu {
    width: 100%;
    height: 33.1rem;
    cursor: pointer;
    position: fixed;
    background-color: #005BAC;
    color: #fff;
    top: 7rem;
    left: 100%;
    z-index: 20;
    transition: all 0.3s;
  }
}

/* アクティブ状態 */
.hamburger-menu-active {
  left: 0;
  transform: translateX(0);
}

/* ナビゲーション */
@media (max-width: 767px) {
  .hamburger-menu-list {
    height: 33.1rem;
    font-size: 1.875rem;
    line-height: 3;
    padding-top: 1rem;
  }
}

@media (max-width: 767px) {
  .hamburger-menu-list li {
    border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.5);
    margin: 0 2rem;
  }
}

@media (max-width: 767px) {
  .hamburger-menu-list a {
    padding: 1.72rem 2rem;
    color: #fff;
  }
}


/* 右矢印アイコン */
@media (max-width: 767px) {
  .hamburger-menu-list a::before {
    content: url(http://www.w3.org/2000/svg);
    padding-right: 1rem;
    margin-left: -2rem;

    
  }
}

/* カバー
------------------------------------------ */
.cover {
  background-image: url(/assets/image/cover.png);
  background-position: left center;
  height: 25rem;
  margin-top: 7rem;
  max-width: 100%;
}

.cover-side {
  display: flex;
  flex-direction: column;
  padding: 0 1.6rem;
}

.cover-side-top {
  display: flex;
  padding-top: 3.4rem;
  width: 50%;
  text-align: center;
  line-height: 1.5;
}

.cover-side-top-text {
  font-size: 1.1rem;
  align-self: stretch;
  margin-top: 1rem;
}

.cover-bottom {
  display: flex;
  flex-direction: column;
  padding-top: 2.07rem;
  line-height: 1.4;
}

p .cover-bottom-text {
  font-size: 1.4rem;
  flex-direction: column;
}

h1 {
  font-size: 2.5rem;
  color: #005BAC;
  font-weight: 900;
}

/* リンク
------------------------------------------ */
.link {
  margin-top: 5rem;
  margin-bottom: 3rem;
  max-width: 100%;
}

.link-list {
  margin: 0 auto;
  width: 25rem;
  text-align: center;
}

.link-list a {
  color: #fff;
  font-size: 1.5rem;;
}

.link-list li:first-child {
  background-color: #77cb33;
  margin-bottom: 1rem;
  height: 4.8rem;
  line-height: 4.8rem;
  border-radius: 3rem;
}

.link-list li:nth-child(2) {
  background-color: #F6AA00;
  margin-bottom: 1rem;
  height: 4.8rem;
  line-height: 4.8rem;
  border-radius: 3rem;
}

.link-list li:last-child {
  background-color: #3AC8AD;
  height: 4.8rem;
  line-height: 4.8rem;
  border-radius: 3rem;
}

/* ポイント
------------------------------------------ */

.point {
  margin-bottom: 3rem;
  max-width: 100%;
}

.point-item-image {
  width: 100%;
}

.point-item-text-summary {
  font-size: 2.1rem;
  margin-top: -1rem;
  margin-bottom: .5rem;
}

.point-item-text-description {
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 2.7rem;
}

/* 申し込み
------------------------------------------ */
.application {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: -1.6rem;
  margin-bottom: 3rem;
  padding: 0 4rem;
  height: 21.3rem;
  background-color: rgba(255, 85, 85, 0.1);
}

.application-text {
  font-size: 1.7rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 1rem;
}

.application-button {
  width: 30.5rem;
  height: 6.9rem;
  background-color: #0271E0;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 4rem;
  text-align: center;
  height: 6.9rem;
  line-height: 6.9rem;
  font-size: 2rem;
}